@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-section {
  margin-top: 0;
  border-bottom: 1px solid $mercury;
  margin-left: 1rem;

  @include tablet {
    margin-left: 0;
  }

  @include desktop {
    border-bottom: 0;
    padding-bottom: 3rem;
  }
}
