@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/variables" as *;

.button {
  position: relative;
  background-color: $blue;
  color: $white;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: 1rem;
  border: none;

  @include tablet {
    margin-top: 0;
    width: 9.375rem;
    padding: auto 2rem;
  }

  //apply color change on hove, and change cursor to pointer
  &:hover {
    background-color: $darkblue;
    cursor: pointer;
  }

  &__image {
    position: absolute;
    left: 1rem;
    height: 1.25rem;

    @include tablet {
      left: 0.5rem;
    }
  }
}
