@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $mercury;
  margin: 0 1rem;
  @include desktop {
    border-bottom: 0;
  }
  &__profile {
    padding-top: 1.5rem;
  }
  &__text {
    width: 85%;
    padding-bottom: 1rem;
    @include tablet {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    display: block;
    text-align: left;
    color: $silver;
    @include tablet {
      margin-left: 2rem;
      width: 60%;
    }
  }
  &__input {
    width: 85%;
    height: 5rem;
    border-radius: 5px;
    resize: none;
    padding: 1rem;
    background-color: $alabaster;
    color: $black;
    outline-color: $blue;
    @include tablet {
      height: 1.5rem;
      width: 100%;
    }
  }
}
