@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-form {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  @include tablet {
    margin: 0;
    align-items: flex-end;
  }
  @include desktop {
    border-bottom: 0;
  }
  &__profile {
    padding-top: 1.5rem;
    @include tablet {
      padding-top: 0;
      padding-bottom: 0.75rem;
    }
    @include desktop {
      padding-left: 0.75rem;
    }
  }
  &__text {
    width: 85%;
    padding-bottom: 1rem;
    @include tablet {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    @include desktop {
      margin-right: 1.5rem;
    }
  }
  &__title {
    display: block;
    text-align: left;
    color: $silver;
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      width: 70%;
    }
    @include desktop {
      margin-left: 2rem;
      width: 67%;
    }
  }
  &__input {
    min-width: 15rem;
    max-width: 100%;
    min-height: 2.25rem;
    border-radius: 4px;
    resize: none;
    padding: 0.75rem;
    background-color: $alabaster;
    color: $black;
    outline-color: $blue;
    margin-top: 0.25rem;
    @include tablet {
      height: 2.5rem;
      padding: 0.7rem;
    }
  }
}
