@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.upload-page {
  border-top: 1px solid $mercury;

  //provides margin properties, while allowing border to span the width of page
  &__styling {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2.25rem;
      margin-top: 2.5rem;
    }
    @include desktop {
      width: 63.75rem;
      margin: 0 auto;
      margin-top: 2.5rem;
    }
  }
}
