@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.comment {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $mercury;
  margin-right: 1rem;
  padding: 1rem 0;
  @include tablet {
    margin-right: 0;
    padding: 1.5rem 0;
  }
  @include desktop {
    justify-content: flex-start;
    gap: 2rem;
  }
  &__profile-pic {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $mercury;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
    @include desktop {
      margin-left: 0.75rem;
    }
  }
  &__text {
    width: 82%;
    @include tablet {
      width: 91%;
    }
    @include desktop {
      width: 85%;
      margin-right: 1.5rem;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__user,
  &__timestamp {
    margin-top: 0;
    margin-bottom: 0.4rem;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__comment {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
}
