@use "../../styles/partials/_mixins.scss" as *;

.search-bar {
  background: url("../../assets/icons/search.svg") 0.5rem center no-repeat;
  padding-left: 2rem;
  height: 2.25rem;
  width: 85%;
  border-radius: 4px;
  @include tablet {
    width: 15rem;
    height: 3.25rem;
  }
}
