@use "../../styles/partials/_mixins.scss" as *;

.header {
  padding: 1rem;
  @include tablet {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  &__style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      display: flex;
      gap: 1rem;
      align-items: center;
      & > * {
        margin-top: 0;
      }
    }
  }
}
