@use "../../styles/partials/_mixins.scss" as *;

.header {
  &__nav {
    margin: 1rem;
    @include tablet {
      display: flex;
      margin: 1.5rem 2.25rem;
      justify-content: space-between;
    }
    @include desktop {
      width: 63.75rem;
      margin: 1.5rem auto;
    }
  }
  //div keeps logo separate from other elements
  &__style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      gap: 1rem;
    }
    @include desktop {
      gap: 2.75rem;
    }
  }
}
