@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  //adds border in tablet view
  @include tablet {
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid $mercury;
  }

  @include desktop {
    gap: 1.5rem;
  }

  //applies flex to thumbnail and text inputs only
  &__input {
    @include desktop {
      display: flex;
      gap: 2rem;
    }
  }

  &__thumbnail {
    border-radius: 4px;

    //BEM naming is kind of awkward here because the labels surround the inputs, but I think it makes a bit more sense since you'd think that the label is a feature of the input
    &__label {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: $silver;

      @include tablet {
        width: 50%;
      }

      @include desktop {
        width: 33%;
      }
    }
  }

  //styling so text inputs are flex column in desktop and fill the rest of the parent flexbox
  &__text {
    margin-top: 1rem;
    @include desktop {
      flex-grow: 1;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  //input field is nested inside label
  &__title {
    min-width: 15rem;
    max-width: 100%;
    min-height: 2.25rem;
    border-radius: 4px;
    resize: none;
    padding: 0.75rem;
    background-color: $alabaster;
    margin-top: 0.25rem;
    color: $black;
    outline: none;
    border: 1px solid $mercury;

    &:focus {
      border: 2px solid $blue;
    }

    @include tablet {
      height: 2.5rem;
      padding: 0.7rem;
    }

    &__label {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: $silver;
    }
  }

  //input field is nested inside label
  &__description {
    min-width: 15rem;
    max-width: 100%;
    min-height: 2.25rem;
    border-radius: 4px;
    resize: none;
    padding: 0.75rem;
    background-color: $alabaster;
    margin-top: 0.25rem;
    color: $black;
    outline: none;
    border: 1px solid $mercury;

    &:focus {
      border: 2px solid $blue;
    }

    @include tablet {
      height: 6rem;
      padding: 0.7rem;
    }

    &__label {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: $silver;
    }
  }

  //sets buttons to flexbox for tablet and reverses order
  &__buttons {
    @include tablet {
      border-top: 1px solid $mercury;
      padding-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 5rem;
    }

    @include desktop {
      padding-top: 1.5rem;
    }
  }

  &__cancel {
    color: $blue;
  }
}
