@use "../../styles/partials/mixins" as *;

.video-desc {
  margin: 0 1rem;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin: 0;
  }

  &__description {
    text-align: left;
    font-size: 0.805rem;

    @include tablet {
      width: 98%;
      font-size: 0.875rem;
    }

    @include desktop {
      width: auto;
      margin-right: 1.5rem;
      font-size: 0.86rem;
    }
  }

  &__comments {
    margin-top: 1.5rem;
    text-align: left;
  }
}
