@use "../../styles/partials/_mixins.scss" as *;

.profile-pic {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;

  @include tablet {
    order: 1;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0;
  }
}
